<!-- <div class="container">
  <div class="row d-flex ">

    <nav class="navbar navbar-expand-lg navbar-white bg-white">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="navbar navbar-white bg-white">
        <a class="navbar-brand " href="#">
          <img src="https://i.imgur.com/psxIQDq.png" class="img-fluid rounded-circle" width="60" alt="Logo da Escape">
        </a>
      </nav>
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item active">
            <img src="https://i.imgur.com/KwnGVlT.jpg" alt="Imagem do usuário" width="50px" height="30px"
              class="img-fluid rounded-circle">
          </li>
          <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold fs-16">Nome do usuário</p>
          </li>

          <li class="nav-item pl-3">
            <a href="">
              <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item pl-3">
            <button class="m-0 font-weight-bold text-dark fs-16">Sair <i class="fa fa-sign-out"
                aria-hidden="true"></i></button>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-color">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar navbar-light bg-color">
    <a class="navbar-brand " href="#">
      <img src="https://i.imgur.com/psxIQDq.png" class="img-fluid rounded-circle" width="60" alt="Logo da Escape">
    </a>
  </nav>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item active pl-3">
        <img src="https://i.imgur.com/goFwNXn.png" alt="Imagem do usuário" width="50px" height="30px"
          class="img-fluid rounded-circle">
      
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>

  </div>


</nav>