.bg-color{
  background-color:#FFF460;
}


.btn-style{
  color:#9900a6;
  background-color: transparent;
  border-color: #9900a6;
}

.btn-style:hover{
  background-color: #9900a6;
  color: white;
}


a{
  cursor: pointer;
}

