.bg-color{
  background-color:#FFF460;
}

.text-color{
  color:#9900a6;
}

.fs-54{
  font-size: 54pt;
}

.fs-18{
  font-size: 18pt;
}


.btn{
  color:#9900a6;
  background-color: transparent;
  border-color: #9900a6;
}

.btn:hover{
  background-color: #9900a6;
  color: white;
}




